@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-blue: #202534;
  --light-blue: #153242;
  --faded-blue: #5f727f;
  --light-grey: #eee;
  --dark-grey: #414042;
  --dark-brown: #c8b6a18f;
  --medium-brown: #c5ac99;
  --light-brown: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GENERAL */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

#header p,
#about,
#services,
#specializations,
#contact,
#footer {
  padding: 80px 0;
}

#services h1,
#specializations h1,
#contact h1 {
  margin-bottom: 40px;
}

#services h1,
#specializations h1 {
  color: var(--light-blue);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

/* NAVBAR */
#navBar {
  position: fixed;
  width: 100%;
  background-color: var(--light-blue);
  height: 54px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

#navBar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navBar .container .logo {
  width: 40px;
  height: 40px;
}

#navBar .container .logo img {
  max-width: 100%;
  max-height: 100%;
}

#navBar .container a {
  color: #fff;
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

#navBar .fa-solid {
  color: #fff;
  margin-right: 8px;
}

#navBar .select-container {
  display: inline;
}

#navBar span {
  cursor: pointer;
}

.select-options {
  cursor: pointer;
  position: fixed;
  top: 54px;
  right: 0;
  width: 100px;
  text-align: center;
  background-color: #ccc;
}

.select-options .option {
  background-color: #ccc;
  padding: 5px 10px;
}

.select-options .option:hover {
  background-color: #bbb;
}

.select-options .selected {
  background-color: #bbb;
}

.fa-whatsapp {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

/* HEADER */
#header {
  padding-top: 54px;
  background-color: var(--light-blue);
  text-align: center;
  color: #fff;
}

#header .header-img {
  background: url('./assets/header.webp');
  background-size: cover;
  height: 50vh;
}

#header .header-img div {
  padding-top: 100px;
}

#header h1 {
  font-size: 3rem;
}

#header h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 50px;
}

#header a {
  background-color: #fff;
  color: #000;
  padding: 18px 50px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
}

#header p {
  font-size: 1.2rem;
}

/* ABOUT */
#about {
  background-color: var(--light-grey);
  height: 100%;
}

#about .user {
  display: flex;
  align-items: center;
  height: 100%;
}

#about .user:last-child {
  flex-direction: row-reverse;
  margin-top: 72px;
}

#about .user h2 {
  margin-bottom: 12px;
}

#about #user-0 {
  margin-right: 32px;
}

#about #user-1 {
  margin-left: 32px;
}

#about .user-img {
  width: 200px;
  height: 200px;
}

#about .user-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* SERVICES */
#services {
  background-color: var(--light-brown);
}

#services .icon-wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
}

#services .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex;
  width: 175px;
  margin: 16px;
}

#services .fa-solid {
  background-color: var(--light-blue);
  color: #fff;
  padding: 20px;
  border-radius: 50%;
  font-size: 2rem;
}

#services .icon-container p {
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
  font-size: 1.1rem;
}

/* SPECIALIZATIONS */
#specializations {
  background-color: var(--light-grey);
}

#specializations .data-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#specializations ul li {
  font-size: 1.1rem;
  font-weight: 500;
}

/* CONTACT */
#contact {
  background-color: var(--light-blue);
  color: #fff;
  text-align: center;
}

#contact .contact-container {
  width: 300px;
  margin: auto;
}

#contact .contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

#contact .contact-text {
  text-align: left;
}

#contact .contact-icon {
  margin-right: 20px;
  font-size: 32px;
  color: #e6ddd7;
}

#contact .contact-icon i {
  text-align: right;
}

/* FOOTER */
#footer {
  background-color: var(--light-grey);
}

@media (max-width: 1250px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 600px;
  }
}
