@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-blue: #202534;
  --light-blue: #324253;
  --faded-blue: #5f727f;
  --light-grey: #eee;
  --dark-grey: #414042;
  --dark-brown: #c8b6a18f;
  --medium-brown: #c5ac99;
  --light-brown: #e8e2d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GENERAL */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

#about,
#services,
#specializations,
#contact,
#footer {
  padding: 60px 0;
}

/* NAVBAR */
#navBar {
  position: fixed;
  width: 100%;
  background-color: var(--light-blue);
  height: 54px;
}

#navBar .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navBar .container .logo {
  width: 40px;
  height: 40px;
}

#navBar .container .logo img {
  max-width: 100%;
  max-height: 100%;
}

#navBar .container a {
  color: #fff;
  margin-right: 16px;
}

#navBar .fa-solid {
  color: #fff;
  margin-right: 8px;
}

#navBar .select-container {
  display: inline;
}

#navBar span {
  cursor: pointer;
}

.select-options {
  cursor: pointer;
  position: fixed;
  top: 54px;
  right: 0;
  width: 100px;
  text-align: center;
  background-color: #ccc;
}

.select-options .option {
  background-color: #ccc;
  padding: 5px 10px;
}

.select-options .option:hover {
  background-color: #bbb;
}

.select-options .selected {
  background-color: #bbb;
}

/* HEADER */
#header {
  padding-top: 54px;
  background-color: var(--light-blue);
}

#header .header-img {
  background: url('./assets/header.webp');
  background-size: cover;
  height: 50vh;
}

/* ABOUT */
#about {
  background-color: var(--light-grey);
}

#about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* SERVICES */
#services {
  background-color: var(--light-brown);
}

/* SPECIALIZATIONS */
#specializations {
  background-color: var(--light-grey);
}

/* CONTACT */
#contact {
  background-color: var(--light-blue);
}

/* FOOTER */
#footer {
  background-color: var(--light-grey);
}
